body{
    /* width:200px;
    height: 200px;
    background: #1a2227; */
    text-align: center;
    font-size: x-large;
}
#wholeCal{
    max-width: 1200px;
    /* width: 1000px;
    height: 1000px; */
    background: rgb(26,34,40);
}

.but {
    padding: 10px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    min-height: 12.8vh;
}
.num:hover{
    background-color: rgb(245, 180, 231);
}
.func:hover{
    background-color: rgb(203, 147, 238);
}
#point:hover{
    background-color: rgb(245, 180, 231);
    font-size: 1.5rem;
}
.screen{
    flex-grow: 1;
    background: rgb(26,34,40);
    color: white;
}
.allButton{
    flex-grow:2;
}
#operateHere{
    min-height: 7vh;
    line-height: 7vh;
}
#resultHere{
    min-height: 15vh;
    line-height: 15vh;
    font-size:4rem;
}
.func, #point{
    background: rgb(70, 82, 92);
}
.note{
    font-size: x-small;
    text-align-last: right;
}
#equal{
    background: rgb(229, 34, 66);
}
#equal:hover{
    background: #f8f3f3;
}