body {
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 40px;
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(244, 244, 247);
    text-indent: 2ch;
    text-align: justify;
    vertical-align:baseline;
}

input {
    margin: 4px 0px;
    box-sizing: border-box;
}

fieldset {
    margin: 10px 0px;
    margin-bottom: 20px;
}

input[type=submit] {
    margin-bottom: 20px;
}

div>p {
    color: rgb(8, 72, 233)
}

div~p {
    color: teal;
    text-decoration: overline;
}

.t1 table,
th,
tr,
td {
    border: 1px solid rgb(146, 240, 15);
    border-collapse: separate;
}

.t2 td {
    border: none;
}

a {
    font-weight: bold;
}

a:link {
    color: black;
}

a:visited {
    color: fuchsia;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.col {
    float: left;
    padding: 10px;
    border: 1px black solid;
}

.col.side {
    width: 200px;
}

.col.middle {
    width: 400px;
}

.clear {
    clear: both;
}


.row1{
   display: grid;
   grid-template-columns: 200px 400px;
}
.col1 {
    border: 1px solid black;
    padding: 10px;
}
